<div class="col-xs-2">
    <table class="table-bordered">
      <thead>
        <tr>
          <th class="genre_said"><h5>ジャンル検索</h5></th>
        </tr>
      </thead>
      <tbody>
        <% genres.each do |genre| %>
          <tr>
          <td class="underline"><i class="fas fa-caret-right"> <%= link_to genre.name, genre_path(genre.id), method: :get %></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>