<div class="container"></div>
<div class="row">
    <div class="mx-auto">
        <h1 class="text-center">ながのけーきについて</h1><br/>
            <p>21世紀のパティスリー界を先導する第一人者。<br/>
            4代続くアルザスのパティシエの家系に生まれ、14歳のときガストン･ルノートルの元で修業を始める。<br/>
            常に創造性あふれる菓子作りに挑戦し続け、独自の“オート・パティスリー”（高級菓子）のノウハウ伝授にも意欲を燃やしている。<br/>
            多くのスイーツファンから絶賛を浴び、同業のパティシエたちからも畏敬されている。<br/>
            その鬼才ぶりは世界的に認められ、ヴォーグ誌から“パティスリー界のピカソ”と称賛された。
            </p>
            <div class="text-center">
                <%= image_tag "kuma", size:"400x300" %>
            </div>
    </div>
</div>
</div>

