<div class = "text-center">
		<h2 class = "text-center">
		商品一覧
		</h2>
			<div class="clearfix product-box">
				<div class="product-container">
					<% @items.each do |item| %>
				<div class="box" style="float:left; margin-right:20px;">
        <%= link_to item_path(item.id) do %> 
         <%= image_tag item.image, size: "200" %>
        <% end %>
          <p><%= item.name %></p>
          <p>¥<%= (item.price).floor %></p> 
        </div>
				<% end %>
				</div
			</div>
	 </div>